.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.75rem 0.75rem 0 0;
}

.header__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.header__sort {
  border: none;
  background-color: transparent;
  position: relative;
}

.header__btn {
  border: none;
  background-color: rgb(148, 218, 212);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  font-size: 3.125rem;
  font-weight: 600;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(250, 247, 243);
  transition: all 0.4s;
}

.header__btn:hover {
  background-color: rgb(243, 218, 76);
}
