.task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 0.375rem;
  margin-bottom: 3rem;
  width: 100%;
  gap: 1rem;
  background-color: rgb(250, 247, 243);
}

.task__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.task__description {
  width: 100%;
  min-height: 3rem;
  display: none;
}

.task__action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.6rem;
  position: relative;
}

.task__check {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  opacity: 0;
}

.task__label {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: #d67b13;
  position: absolute;
  right: 2rem;
  z-index: 400;
  pointer-events: none;
}

.task__check:checked + .task__label {
  color: #39991c;
}

.task__footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.task__date {
  font-size: 0.8rem;
  color: #575555;
}

.task__btn-desc {
  border: none;
  border-bottom: transparent;
  background: transparent;
  font-size: 1rem;
  color: #575555;
  border-bottom: 2px solid rgba(82, 79, 79, 0);
  transition: all 0.4s linear;
}

.task__btn-desc:hover {
  border-bottom: 2px solid rgb(190, 182, 182);
}

.task__btn-del {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: #e72a2a;
  transition: all 0.4s linear;
}

.task__btn-del:hover {
  transform: scale(1.3);
}