.task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  border: 1px solid #575555;
  border-radius: 6px;
  margin-bottom: 3rem;
  width: 100%;
  gap: 1rem;
}

.task__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.task__description {
  width: 100%;
  min-height: 3rem;
  display: none;
}

.task__action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.6rem;
}

.task__check {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.task__footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.task__date {
  font-size: 0.8rem;
  color: #575555;
}

.task__btn-desc {
  border: none;
  border-bottom: transparent;
  background: transparent;
  font-size: 1rem;
  color: #575555;
  border-bottom: 2px solid rgba(82, 79, 79, 0);
  transition: all 0.4s linear;
}

.task__btn-desc:hover {
  border-bottom: 2px solid rgb(190, 182, 182);
}

.task__btn-del {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 2rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3f3b3b;
  background-color: #faf6f6;
  color: #3f3b3b;
  border-radius: 3px;
  transition: all 0.4s linear;
}

.task__btn-del:hover {
  border: 1px solid #c53737;
  background-color: #e2aeae;
  color: #c53737;
}